.main{
    background-image: url(../../assets/images/virus.jpg);
    background-size: cover;
  height: 1000px;
  overflow: hidden;
    width: 1440px;
  }
  
.btn{
    background-color: white;
    margin-bottom: 20px;
}
h1{
    text-decoration: underline;
}
.textcolor{
  color:white;
 }
 