.Companylogo{
    background-image: url(../../assets/images/hospital.png);
      height: 80px;
      width: 80px;
      background-size: 100%;
      
  }
 .container{
   
   position: relative;
 }
  #homeHeader{
    background-color:#3a3937;
    
    position: relative;
  font-size: 15px;
  }
  .navlinks{
    color: white !important;
    margin-right: 1.8em;
  }
  .navlinks > a{
    color: white;
  }
  .navBar{
    padding-top: 1.5em;
      position: relative;
      left: 3em;
  }
  
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 20;
    opacity: 0;
    background: rgba(39, 42, 43, 0.8);
    transition: opacity 200ms ease-in-out;
    border-radius: 4px;
    margin: -15px 0 0 -15px;
    height: 34em;
    width: 100em;
    top: 5.3em;
  }
  
  .list-inline-item{
    display: inline-block;
  }

  
  
  .row{
    display: inline-flex;
  }
  