@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.css";
html{
  background-image: url(assets/images/virus.jpg);
  background-size: cover;
  height: 100%;
    width: 100%;
}

html{
  background-image: url(assets/images/virus.jpg);
  background-size: cover;
  height: 100%;
  
  width: 100%;
}