<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div>
  <video class="video" preload="auto" loop="loop" autoplay="autoplay"style="object-fit: contain;">
    <source src="assets/videos/How Contagious is COVID-19  (Transmission, Spread, and R0) (1080p 60fps).mp4" type="video/webm">
  </video>
</div>

<div class="container">
  <div class="jumbotron">
    <p>
      COVID-19 is thought to spread mainly through close contact from person-to-person in respiratory droplets from someone who is infected. People who are infected often have symptoms of illness. Some people without symptoms may be able to spread virus.
      <br>
      <br>
      COVID-19 is a new disease and we are still learning about how it spreads and the severity of illness it causes.
    </p>
  </div>
</div>

<div class="services-wrapper">
  <div class="container svcs-container">
    <div class="row">
      <div class="col-sm-4 services-box hoverServices">
        <div class="service-icon">
          <img src="../../assets/images/tb-coughing-544x288-small.png"/>
        </div>
        <div class="info text-center">
          <h3 class="services-subheading">
            Person-to-person spread
          </h3>
        </div>
        <div class="info col-lg-10 col-lg-offset-1">
          <p>The virus is thought to spread mainly from person-to-person.</p>
          <ul>
            <li>Between people who are in contact(within about 6 feet).
            </li>
            <li>Through droplets produced by an infected person.
            </li>
            <li> These droplets can land in the contact of healthy people and infect.
            </li>
            <li>Some recent studies show that it may be spread by people who are not showing symptoms.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 services-box hoverServices">
        <div class="service-icon">
          <img src="../../assets/images/v871-nunny-07.png"/>
        </div>
        <div class="info text-center">
          <h3 class="services-subheading">
            Spread from contaminated surfaces
          </h3>
        </div>
        <div class="info col-lg-10 col-lg-offset-1">
          <ul>
            <li>It may be possible that a person can get COVID-19 by touching a surface or object that has the virus.
            </li>
            <li>It may then touching their own mouth, nose, or possibly their eyes.
            </li>
            <li> This is not thought to be the main way the virus spreads, but there is a chance.
            </li>
            <li> This is just the beginning of the spread, its a lot more contagious.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 services-box hoverServices last">
        <div class="service-icon">
          <img src="../../assets/images/Coronavirus.jpg" height="640" width="905"/>
        </div>
        <div class="info text-center">
          <h3 class="info services-subheading">
            How easily the virus spreads
          </h3>
        </div>
        <div class="info col-lg-10 col-lg-offset-1">
          <ul>
            <li> How easily a virus spreads from person-to-person can vary.
            </li>
            <li>Some viruses are highly contagious, like measles, while other viruses do not spread as easily.
            </li>
            <li> Another factor is whether the spread is sustained, which means it goes from person-to-person without stopping.
            </li>
            <li> The virus that causes COVID-19 is spreading very easily and sustainably between people.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
