.main{
    background-image: url(../../assets/images/virus.jpg);
    background-size: cover;
  height: 1000px;
  overflow: hidden;
    width: 1650px;
  }


.btn{
    background-color: white;
    margin-bottom: 20px;
}
h1{
    text-decoration: underline;
}

.position{
  margin-top: 4%;
}

.textcolor{
 color:white;
}


