.main{
  background-image: url(../../assets/images/virus.jpg);
  background-size: cover;
height: 1000px;
overflow: hidden;
  width: 1980px;
}

.profile-text{
  margin-left: 4%;
  font-weight: bold;
  color: white;
  }
  .label-text{
    color: goldenrod;
    font-weight: bold;
    margin-left: 2%;
  }