<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
<body>

  <div >
    <h1 class="nav1"> How to protect yourself? </h1>
  </div>


<div class="grid1">
<!--  <div class="imagestruct">-->
    <div class="parent" style="margin-left: 9%" onclick="">
      <div class="child">
    <img src="../../assets/images/protect-wash-hands.png"/>
        <a> Wash <br> hands </a>
    </div>
    </div>
    <div class="parent" style="margin-left: 20%" onclick="">
      <div class="child">
    <img src="../../assets/images/protect-quarantine.png" />
        <a> Social <br> distancing </a>
      </div>
    </div>
    <div class="parent" style="margin-left:20%" onclick="">
      <div class="child">
    <img src="../../assets/images/cloth-face-cover.png" >
        <a> cover your <br> mouth </a>
      </div>
    </div>
  </div>

<div class="grid1">
  <div class="parent" style="margin-left: 28%" onclick="">
    <div class="child">
      <img src="../../assets/images/COVIDweb_06_coverCough.png" />
      <a> Cover your <br> sneezes </a>
    </div>
  </div>
  <div class="parent" style="margin-left: 22%" onclick="">
    <div class="child">
      <img src="../../assets/images/COVIDweb_09_clean.png"/>
      <a> Disnfect <br> always </a>
    </div>
  </div>
</div>


<div class="question">
  <h2> Why Is Washing Hands So Important? </h2>

</div>

<div class="grid-item wrap">
  <video preload="auto" class="videoInsert" autoplay="autoplay" loop="loop" >
    <source src="assets/videos/What You Need To Know About Handwashing (1080p).mp4" type="video/webm">
  </video>
</div>

<div class="question">
  <h2> COVID-19 Latest News </h2>
</div>

<div class="row" >
<div class="card news-elem" style="width: 15rem;margin-top: 2%">
  <img class="card-img-top  cardimage" src="../../assets/images/news1.jpg" alt="Card image cap">

  <div class="card-body">
      <h5 class="card-title" (click)="onNavigate(1)">
          First UN solidarity flight departs Addis Ababa carrying vital COVID-19 medical supplies to all African nations
      </h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>


</div>
<div class="card news-elem" style="width: 15rem; margin-top: 2%">
  <img class="card-img-top  cardimage" src="../../assets/images/news2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" (click)="onNavigate(2)">
      Public statement for collaboration on COVID-19 vaccine development</h5>
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card news-elem" style="width: 15rem; margin-top: 2%">
  <img class="card-img-top  cardimage" src="../../assets/images/news3.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" (click)="onNavigate(3)">
      Children’s story book released to help children and young people cope with COVID-19</h5>
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card news-elem" style="width: 15rem; margin-top: 2%">
  <img class="card-img-top cardimage" src="../../assets/images/news4.jpg">
  <div class="card-body">
    <h5 class="card-title" (click)="onNavigate(4)">
      WHO Director-General's opening remarks at the media briefing on COVID-19 - 13 March 2020</h5>
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
